<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">

	<title>pSystem</title>

	<!-- Favicon icon -->
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon.png">

	<link href="/assets/node_modules/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/pages/login-register-lock.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/colors/default.css" id="theme" rel="stylesheet">
</head>

<body class="card-no-border">
	<div class="preloader">
		<div class="loader">
			<div class="loader__figure"></div>
			<p class="loader__label">pSystem</p>
		</div>
	</div>

	<section id="wrapper">
		<div class="login-register"
			style="background-image: url('/assets/images/background/login-register.jpg');">
			<div class="login-box card">
				<div class="card-body">
					<div class="alert alert-danger" role="alert" th:if="${param.error}">Invalid Login!</div>
					<form class="form-horizontal form-material" id="loginform" th:action="@{/auth}" method="POST">
						<h3 class="box-title m-b-20">Sign In</h3>
						<div class="form-group ">
							<div class="col-xs-12">
								<input class="form-control" type="email" required placeholder="E-mail" name="email">
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<input class="form-control" type="password" required placeholder="Password" name="password">
							</div>
						</div>
						<div class="form-group text-center">
							<div class="col-xs-12 p-b-20">
								<button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">Log In</button>
							</div>
						</div>
						<div class="form-group m-b-0">
							<div class="col-sm-12 text-center">
								Don't have an account? <a th:href="@{/register}" class="text-info m-l-5"><b>Sign up</b></a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	<script src="/assets/node_modules/jquery/jquery.min.js"></script>
	<script src="/assets/node_modules/bootstrap/js/popper.min.js"></script>
	<script src="/assets/node_modules/bootstrap/js/bootstrap.min.js"></script>
	<!--Custom JavaScript -->
	<script type="text/javascript">
		$(function() {
			$(".preloader").fadeOut();
		});
		$(function() {
			$('[data-toggle="tooltip"]').tooltip()
		});
	</script>

</body>

</html>
